/htdocs/*
.DS_Store
docker-lamp.code-workspace
!/htdocs/hello.php
!/htdocs/sample.php
!/htdocs/sample2.php
!/htdocs/sample3.php
!/htdocs/threat1.php
!/htdocs/threat2.php
!/htdocs/css/
!/htdocs/db/dummy.md
!/htdocs/books/
!/htdocs/quiz/
!/htdocs/todo/
!/htdocs/survey/
!/htdocs/blog/